accelerate==1.7.0
diffusers==0.33.1
hf-transfer
hf-xet
huggingface-hub
numpy>=1.24.0
pillow
runpod==1.7.9
safetensors==0.5.3
scipy
setuptools
torch==2.7.0
torchvision
transformers==4.52.4
triton
xformers==0.0.30